:root {
  --body-color: hsla(0, 0%, 0%, 0.8);
  --primary-color: #00a672;
  --primary-color-dark: #00835c;
  --header-height: 58px;
  --bg: #fff;
  --bg-secondary: #f3f5f4;
  --bg-transparent: rgba(255, 255, 255, 0.9);
  --bg-teritary: #f3f5f4;
  --dark-bg: #0d2538;
  --code-bg: #0e2233;
  --select-color: rgba(212, 53, 159, 0.2);
  --inline-code-text: #b32585;
  --inline-code-bg: rgba(212, 53, 159, 0.03);
  --border-color: #e2ecec;
  --border-color-darker: #cfe6e6;
  --mark-color: #fff8ec;
  --border-radius: 5px;
  --success-bg: #5bb19640;
  --space: 25px;
  --space-x2: 50px;
  --code-color: #fdf9f3;
  --glow: 2px 2px 15px 0 var(--border-color-darker);

  @media screen and (max-width: 550px) {
    --space: 20px;
    --space-x2: 20px;
  }

  [data-theme="dark"] {
    --body-color: #ebf4f1;
    --bg: #091a28;
    --bg-secondary: #071521;
    --bg-teritary: #0e2233;
    --bg-transparent: #091a28e1;
    --border-color: #0d2538;
    --border-color-darker: #0d2538;
    --inline-code-text: #e24cb2;
    --inline-code-bg: rgba(212, 53, 159, 0.1);
    --primary-color: #00835c;
    --primary-color-dark: #00a672;
    --glow: 2px 2px 15px 0 #071521;
  }

  [data-theme="sepia"] {
    --body-color: #433422;
    --bg: #f1e7d0;
    --dark-bg: #111;
    --code-bg: #222;
    --bg-transparent: #f1e7d0e1;
    --bg-secondary: #eae0c9;
    --bg-teritary: #eadec2;
    --border-color: #ded0bf;
    --border-color-darker: #ccbca9;
    --glow: 2px 2px 15px 0 #ccbca9;
  }
}

h1,
h2,
h3,
h4 {
  code {
    font-size: 0.85em;
  }
}

pre,
code {
  // font-family: Space Mono, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: "liga" 0;
  border-radius: 3px;
  line-height: 1.5;
  direction: ltr;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  color: #d8d8d8;
}

pre::-moz-selection,
pre ::-moz-selection,
code::-moz-selection,
code ::-moz-selection {
  text-shadow: none;
}

pre::selection,
pre ::selection,
code::selection,
code ::selection {
  text-shadow: none;
}

// Code blocks
pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  margin-bottom: var(--space);
  background-color: var(--code-bg);
}

// Inline code
:not(pre) > code {
  color: var(--inline-code-text);
  padding: 0.2rem 0.33rem;
  vertical-align: 1%;
  font-size: 0.78em;
  background-color: var(--inline-code-bg);
}

// HTML code
.language-html {
  font-variant-ligatures: none;
}

.#{$prism-prefix}token.#{$prism-prefix}comment .#{$prism-prefix}token.#{$prism-prefix}prolog,
.#{$prism-prefix}token.#{$prism-prefix}doctype,
.#{$prism-prefix}token.#{$prism-prefix}cdata {
  color: #585858;
}

.#{$prism-prefix}token.#{$prism-prefix}comment {
  color: #8aa1b4;
}

.#{$prism-prefix}token.#{$prism-prefix}punctuation {
  color: #d8d8d8;
}

.#{$prism-prefix}token.#{$prism-prefix}namespace {
  opacity: 0.7;
}

.#{$prism-prefix}token.#{$prism-prefix}operator {
}

.#{$prism-prefix}token.#{$prism-prefix}boolean,
.#{$prism-prefix}token.#{$prism-prefix}number {
  color: #e2777a;
}

.#{$prism-prefix}token.#{$prism-prefix}string {
  color: #7ec699;
}

.#{$prism-prefix}token.#{$prism-prefix}selector {
  color: #ba8baf;
}

.language-css {
  color: #7ec699;

  .#{$prism-prefix}token.#{$prism-prefix}punctuation {
    color: #f8f8f8;
  }

  .#{$prism-prefix}token.#{$prism-prefix}property {
    color: #d8d8d8;
  }
}

.#{$prism-prefix}token.#{$prism-prefix}entity,
.#{$prism-prefix}token.#{$prism-prefix}url,
.language-css .#{$prism-prefix}token.#{$prism-prefix}string,
.style .#{$prism-prefix}token.#{$prism-prefix}string {
  color: #86c1b9;
}

.#{$prism-prefix}token.#{$prism-prefix}control,
.#{$prism-prefix}token.#{$prism-prefix}directive,
.#{$prism-prefix}token.#{$prism-prefix}unit {
  color: #7ec699;
}

.#{$prism-prefix}token.#{$prism-prefix}keyword {
  color: #cc99cd;
}

.#{$prism-prefix}token.#{$prism-prefix}function {
  color: #dd9a6d;
}

.#{$prism-prefix}token.#{$prism-prefix}tag {
  color: #e2777a;

  .#{$prism-prefix}token.#{$prism-prefix}punctuation {
    color: rgba(#e2777a, 0.85);
  }
}

.#{$prism-prefix}token.#{$prism-prefix}attr-name {
  color: lighten(#e2777a, 7);
}

.#{$prism-prefix}token.#{$prism-prefix}attr-value {
  color: #7ec699;

  .#{$prism-prefix}token.#{$prism-prefix}punctuation {
    color: #f8f8f8;
  }
}

.#{$prism-prefix}token.#{$prism-prefix}statement,
.#{$prism-prefix}token.#{$prism-prefix}regex,
.#{$prism-prefix}token.#{$prism-prefix}atrule {
  color: #86c1b9;
}

.#{$prism-prefix}token.#{$prism-prefix}placeholder,
.#{$prism-prefix}token.#{$prism-prefix}variable {
  color: #7cafc2;
}

.#{$prism-prefix}token.#{$prism-prefix}deleted {
  text-decoration: line-through;
}

.#{$prism-prefix}token.#{$prism-prefix}inserted {
  border-bottom: 1px dotted #f8f8f8;
  text-decoration: none;
}

.#{$prism-prefix}token.#{$prism-prefix}italic {
  font-style: italic;
}

.#{$prism-prefix}token.#{$prism-prefix}important,
.#{$prism-prefix}token.#{$prism-prefix}bold {
  font-weight: bold;
}

.#{$prism-prefix}token.#{$prism-prefix}important {
  color: #ab4642;
}

.#{$prism-prefix}token.#{$prism-prefix}entity {
  cursor: help;
}
