$code_red: #ca473f;
$code_dark_red: #981d15;
$code_blue: #0782b1;
$code_dark_blue: #055472;

code[class*="language-"],
pre[class*="language-"] {
  color: $black;
  background: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0 2em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #fbfbfd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  color: $code_red;
}

.#{$prism-prefix}token.#{$prism-prefix}comment,
.#{$prism-prefix}token.#{$prism-prefix}prolog,
.#{$prism-prefix}token.#{$prism-prefix}doctype,
.#{$prism-prefix}token.#{$prism-prefix}cdata {
  color: #93939e;
}

.#{$prism-prefix}token.#{$prism-prefix}punctuation {
  color: $black;
}

.namespace {
  opacity: 0.7;
}

.#{$prism-prefix}token.#{$prism-prefix}property,
.#{$prism-prefix}token.#{$prism-prefix}tag,
.#{$prism-prefix}token.#{$prism-prefix}boolean,
.#{$prism-prefix}token.#{$prism-prefix}number,
.#{$prism-prefix}token.#{$prism-prefix}constant,
.#{$prism-prefix}token.#{$prism-prefix}symbol,
.#{$prism-prefix}token.#{$prism-prefix}deleted {
  color: $code_dark_red;
}

.#{$prism-prefix}token.#{$prism-prefix}selector,
.#{$prism-prefix}token.#{$prism-prefix}attr-name,
.#{$prism-prefix}token.#{$prism-prefix}string,
.#{$prism-prefix}token.#{$prism-prefix}char,
.#{$prism-prefix}token.#{$prism-prefix}builtin,
.#{$prism-prefix}token.#{$prism-prefix}inserted {
  color: #690;
}

.#{$prism-prefix}token.#{$prism-prefix}operator,
.#{$prism-prefix}token.#{$prism-prefix}entity,
.#{$prism-prefix}token.#{$prism-prefix}url,
.language-css .#{$prism-prefix}token.#{$prism-prefix}string,
.style .#{$prism-prefix}token.#{$prism-prefix}string {
  color: $black;
}

.#{$prism-prefix}token.#{$prism-prefix}atrule,
.#{$prism-prefix}token.#{$prism-prefix}attr-value,
.#{$prism-prefix}token.#{$prism-prefix}keyword {
  color: $code_dark_blue;
}

.#{$prism-prefix}token.#{$prism-prefix}function,
.#{$prism-prefix}token.#{$prism-prefix}class-name {
  color: $code_red;
}

.#{$prism-prefix}token.#{$prism-prefix}regex,
.#{$prism-prefix}token.#{$prism-prefix}important,
.#{$prism-prefix}token.#{$prism-prefix}variable {
  color: $code_blue;
}

.#{$prism-prefix}token.#{$prism-prefix}important,
.#{$prism-prefix}token.#{$prism-prefix}bold {
  font-weight: bold;
}

.#{$prism-prefix}token.#{$prism-prefix}italic {
  font-style: italic;
}

.#{$prism-prefix}token.#{$prism-prefix}entity {
  cursor: help;
}

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}
