/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*='language-'],
pre[class*='language-'] {
  color: #525252;
  background: none;
  text-shadow: 0 1px white;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  tab-size: 4;
  tab-size: 4;
  hyphens: none;
  hyphens: none;
  hyphens: none;
  hyphens: none;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: #2973b7;
  color: white;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: #2973b7;
  color: white;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.#{$prism-prefix}token {
  &.#{$prism-prefix}namespace {
    opacity: 70%;
  }

  &.#{$prism-prefix}comment,
  &.#{$prism-prefix}prolog,
  &.#{$prism-prefix}doctype,
  &.#{$prism-prefix}cdata {
    color: #707070;
  }

  &.#{$prism-prefix}punctuation {
    color: #999;
  }

  &.#{$prism-prefix}property,
  &.#{$prism-prefix}boolean,
  &.#{$prism-prefix}number,
  &.#{$prism-prefix}constant,
  &.#{$prism-prefix}symbol,
  &.#{$prism-prefix}deleted {
    color: #a32eff;
  }

  &.#{$prism-prefix}selector,
  &.#{$prism-prefix}attr-name,
  &.#{$prism-prefix}string,
  &.#{$prism-prefix}char,
  &.#{$prism-prefix}builtin,
  &.#{$prism-prefix}inserted {
    color: #42b983;
  }

  &.#{$prism-prefix}operator,
  &.#{$prism-prefix}entity,
  &.#{$prism-prefix}url,
  .language-css &.#{$prism-prefix}string,
  .style &.#{$prism-prefix}string {
    color: #9a6e3a;
  }

  &.#{$prism-prefix}atrule,
  &.#{$prism-prefix}attr-value,
  &.#{$prism-prefix}function &.#{$prism-prefix}selector,
  &.#{$prism-prefix}tag {
    color: #2973b7;
  }

  &.#{$prism-prefix}keyword {
    font-weight: 500;
  }

  &.#{$prism-prefix}keyword
  /*&.#{$prism-prefix}class-name*/ {
    color: #d63200;
  }

  &.#{$prism-prefix}regex,
  &.#{$prism-prefix}important {
    color: #2973b7;
    font-weight: 500;
  }

  &.#{$prism-prefix}important,
  &.#{$prism-prefix}bold {
    font-weight: bold;
  }

  &.#{$prism-prefix}italic {
    font-style: italic;
  }

  &.#{$prism-prefix}entity {
    cursor: help;
  }
}
